/*ALL PAGES*/
.navbar-fixed-top {
    background-color: #842d85;
}

.navigation-text .nav > li > a {             /*Change navigation*/
    background-color: transparent;
    font-size: 16pt;
    color: white;
    text-transform: uppercase;
}

a.navbar-logo {     /*Change FAQ.life color*/
    background-color: transparent;
    color: white;
    padding: 2vmin;
    text-align: center;
}

a.navbar-logo:hover {
    text-decoration: none;
}

p {
    color: black;
    font-size: 12pt;
    text-align: justify;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.text-menu-toggle {
    text-align: center;
    color: white;
    font-size: 5vmin;
}

.button-menu {
    background-color: #842d85;
    border-color: white;
    position: relative;
    float: right;
    border: 1px solid white;
    border-radius: 4px;
    margin: 2vmin;
}

@media (min-width: 768px) {
    .navbar-toggle2 {
        display: none;
    }
}

.footer-autores {
    margin: 5vmin;
    color: darkgray;
    font-size: 10pt;
}

.btn-login {                    /*Changed Bootstrap button*/
    display: inline-block;
    background-color: #842d85;
    color: white;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-login:hover {
    background-color: #840085;
    color: white;
}

.btn-login:active {
    background-color: #511c52;
    color: white;
}

.btn-register {
    float: right;
    background-color: white;
    color: black;
    border-color: #842d85;
}

.btn-register:hover {
    background-color: #842d85;
    color: white;
}

div#navbar-collapse1 {
    overflow-y: visible;
}

/*INDEX PAGE*/
.head-index {
    display: table;
    width: 100%;
    height: 40vmin;
    background-color: #842d85;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.index-phrase {
    color: white;
    font-size: 12vmin;
    text-align: center;
}

div#contador {
    padding-top: 15px;
}

.preview-pregunta {
    color: black;
}

.preview-pregunta:hover {
    text-decoration: none;
    color: black;
}

.preguntaTitulo {
	color: black;
	background-color: #E5E5E5;
	margin-top: 15px;
	border-top-left-radius: 15px;
	border-color: white;
}

.preguntaCategoria {
	color: grey;
	background-color: #E5E5E5;
	margin-top: 15px;
	border-top-right-radius: 15px;
	border-color: white;
}

.cajaTituloCategoria {
	padding:0px;
}

select > option {
	background-color: #E5E5E5;
}

.preguntaCuerpo {
	color: black;
	background-color: #E5E5E5;
	margin-bottom: 5px;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	border-color: white;
	display: block;
	padding: 10px;
	min-height: 20px;
}

.respuestaCuerpo {
	color: black;
	background-color: #E5E5E5;
	margin-bottom: 5px;
	border-radius: 15px;
	border-color: white;
	display: block;
	padding: 10px;
	min-height: 20px;
}

.button-preguntar {
    position: relative;
    float: right;
}

textarea { resize: vertical; }

/*NOT INDEX PAGES*/
.head {
    background-color: #842d85;
}

.estado {
    padding: 5px;
}


/*Paginas INDEX & PREGUNTA*/
hr#separador {
    border-color: grey;
    border-width: 3px; 
    margin-top: 5px;
    margin-bottom: 10px;
}

.iconos {
    margin: 4px;
}

.centrado {
    text-align: center;
}

/*PAGINA PREGUNTA*/
#container-imagen {
    height: 10em;
}

#container-imagen img {
    height: 100%;
    border-radius: 5px;
    /*  Center image  */
    display: block;
    margin-left: auto;
    margin-right: auto
}

.separatorQuestion{
    border-width: thick;
    border-color: #842d85;
 }

/* PLACEHOLDER COLOR */
input::-webkit-input-placeholder {
   color: #7F7F7F !important;
}

input:-moz-placeholder {
   color: #7F7F7F !important;
}

input::-moz-placeholder {
   color: #7F7F7F !important;
}

input:-ms-input-placeholder {  
   color: #7F7F7F !important;
}

textarea::-webkit-input-placeholder {
   color: #7F7F7F !important;
}

textarea:-moz-placeholder {
   color: #7F7F7F !important;
}

textarea::-moz-placeholder {
   color: #7F7F7F !important;
}

textarea:-ms-input-placeholder {  
   color: #7F7F7F !important;
}